# Ignore node_modules directory
node_modules/

# Ignore personal markdown files
*.personal.md

# Ignore TypeScript build output
dist/

# Ignore any log files
*.log

# Ignore the generated website
# index.html
.vercel